*{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
}

/* Sheared style */
#max-width{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.display-flex{
    display: flex;
}

.dark-1{
    color: rgba(19, 19, 19, 1);
    font-size: 2.8rem;
    font-weight: 700;
}

.dark-2{
    color: rgba(66, 66, 66, 1);
    font-size: 1.1rem;
    font-weight: 400;
}

.dark-3{
    color: rgba(114, 114, 114, 1);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

.btn{
    font-size: 1.5em;
    color: white;
    background-color:rgba(255, 144, 14, 1) ;
    padding: 18px 25px;
    border: none;
    border-radius: 8px;
}

.btn:hover{
    background-color:rgb(189, 116, 33);
    cursor: pointer;
}

/* Header section */
header{
    background: rgba(255, 144, 14, 0.1);
    flex-direction: column;
    gap: 116px;
    margin-bottom: 85px;
}

/* Navar style */
.nav-section{
   justify-content: space-between; 
   padding-top:30px;
   align-items: center;
}

.nav-ul{
    gap: 50px;
    list-style-type: none;
}

.nav-link{
    text-decoration: none;
}

.nav-link:hover{
    color: rgb(173, 179, 179);
}

/* Hero style */
.banner{
    flex-direction: column;
    gap: 50px;
}
.hero-description{
    max-width: 58%;
    margin: 0 auto;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    text-align: center;
}

.hero-title{
    font-size: 4rem;
}

.hero-image{
    padding-bottom: 45px;
}

/* Main section */
main{
    flex-direction: column;
    gap: 140px;
}

/* Team section */
.team-section{
    align-items: center;
    gap: 73px;
}

.image-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 25px;
}

.team-description{
    flex-direction: column;
    gap: 24px;
    align-items: start;
}

/* Feature description */
 .feature-description{
    flex-direction: column;
    gap: 24px;
 }

 .feature-section{
    gap: 175px;
 }

#feature-h1{
    border-left:  8px solid rgba(255, 144, 14, 1);;
    padding-left: 21px;
}

.feature-box-container{
    flex-direction: column;
    gap: 20px;
}

.box-h2{
    font-size: 1.5rem;
}

.feature-card{
    padding: 30px 36px 30px 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);
}

.years{
    font-size: 4rem;
}

.Experience{
    margin-top: -100px;
    margin-left: -100px;
}

/* Facts section */
.facts-description{
    max-width: 543px;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 80px;
}

.facts-card-container{
    max-width: 92%;
    margin: 0 auto;
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
}

.fact-card{
    padding: 46px 0px 59px 0px;
    border: 1px solid #FF900E;
    border-radius: 5px;
}

.fact-card:hover{
    background-color: antiquewhite;
    cursor: pointer;
}

/* Sponsor section */
.spons-section{
    flex-direction: column;
    gap: 50px;
    text-align: center;
}

.spons-description{
    flex-direction: column;
    gap: 24px;
    margin: 0 auto;
    max-width: 542px;
    
}

.spons-image-container{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.spons-image-container{
    filter: grayscale(100%);
}

.spons-image-container img{
    padding:12px
}

.spons-image-container img:hover{
    background-color: antiquewhite;
    border-radius: 5px;
    cursor: pointer;
}


/* Footer style */
.footer-section{
    background: rgba(255, 244, 231, 1);
    border-radius: 8px;
    text-align: center;
}

#footer-section{
    margin: 130px 0px;
}

.foote-p{
    padding: 49px 0px;
}


/* Responsive mobile device */
@media screen and (max-width:577px) {
    #max-width {
    width: 100%;
    max-width: 577px;
    padding: 0px 0;
}

.dark-1 {
    font-size: 1.3rem;
}

.dark-2 {
    font-size: .7rem;
}

.dark-3 {
    font-size: .8rem;
    line-height: 21px;
}

.btn {
    background-color: rgba(255, 144, 14, 1);
    padding: 16px 18px;
    font-size: .8rem;
}

main {
    gap: 40px;
}
/* Header responsive style */
header {
    gap: 40px;
    margin-bottom: 50px;
}

.nav-ul {
    gap: 15px;
    padding-right: 15px;
}

.company-name{
    padding-left: 10px;
}

.hero-description {
    max-width: 88%;
    gap: 15px;
}

.hero-title {
    font-size: 3rem;
}

.hero-image{
    padding: 0 13px;
}

.hero-image img{
    width: 100%;
    
}

/* Team section */
.team-section {
    flex-direction: column;
    gap: 40px;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 15px;
}

.team-description {
    padding: 0px 8px;
    gap: 13px;
    text-align: center;
    align-items: center;
}


/* Feature section */
.feature-description{
    padding: 0px 12px;

}

.feature-section{
    flex-direction: column;
    gap: 30px;
}

.feature-box-container {
    flex-direction: column;
    gap: 15px;
}

.feature-image img{
    width: 100%;
}

.feature-image{
    padding: 0px 12px;
}

.Experience{
    margin: -29px 0px ;
}

.years{
    font-size: 1rem;
}

/* Fact section */
.facts-description {
    max-width: 100%;
    padding: 0 12px;
    gap: 15px;
    margin-bottom: 40px;
}

.facts-card-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* Spons section */
.spons-image-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* Footer section */
.foote-p {
    padding: 25px 0px;
}
}